In [ ]:
def add():
    print('1: add Book')
    print('2: add Transaction')
    print('3: add Order')

    option = int(input("Please select an option above: "))

    if option == 1:
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")

        query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
        %sql $query
        %sql COMMIT
        print("Book added successfully.")
    elif option == 2:
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")
        query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
        %sql $query
        %sql COMMIT
        print("Book added successfully.")
        
        
    elif option == 3:
        
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")
        
    query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
    %sql $query
    %sql COMMIT
    print("Book added successfully.")
    
print("Invalid option.")

In [ ]:
cxdwxdwcx