In [ ]:
def delete_book():
    isbn_number = input("Please enter the ISBN number of the book that you want to delete? ")
    var1 = %sql select * from books  WHERE isbn_number = {isbn_number};
    test = var1
    if len(test)  >  0:
        %sql DELETE from books WHERE isbn_number = {isbn_number};
        print("The book with this particular ISBN number has been deleted from the system") 
    else:
        print("There is no book with this particular ISBN number in the system")
        

def delete_transaction_order():
    transaction_id = input ("Which Transaction order would you like to cancel/remove?")
    var1 = %sql select * from transactions WHERE transaction_id = {transaction_id};
    test = var1
    if len(test) > 0:
        %sql DELETE from transactions WHERE transaction_id = {transaction_id};
        print("This Transaction Order has been removed from the system")
    else:
        print("This Transaction Order doesn't exist in the system")
     
        
def delete_cart_order():
    cart_id = input ("Which Cart transaction would you like to cancel/remove?")
    var1 = %sql select * from carts WHERE cart_id = {cart_id};
    test = var1
    if len(test) > 0:
        %sql DELETE from carts WHERE cart_id = {cart_id};
        print("This Cart Transaction has been removed from the system")
    else:
        print("This Cart Transaction doesnt exist")
        
def delete():
    
    print('1: delete Books')
    print('2: delete transactions')
    print('3: delete orders')
    
    
    option = int(input("Please select option above:"))
    
    if option == 1:
        delete_book()
    elif option == 2:
        delete_transaction_order()
    elif option == 3:
       delete_cart_order()
    else:
        print("invalid option")
  
delete()

In [ ]:
def add_book():  
    
        print('1: Add Book')
        print('2: Add Transaction Order')
        print('3: Add Cart Order')
        
        option = int(input("Please select option above:"))

                
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")
        
        query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
        %sql $query
        %sql COMMIT
        print("Book added successfully.")

def add_transaction_order():
    
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")
        
        query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
        %sql $query
        %sql COMMIT

        print("The transaction order has been added to the system")
        
       
def add_cart_order():
      
        isbn = input("Enter ISBN Number for the new book: ")
        book_title = input("Enter Book Title: ")
        price = input("Enter Book Price: ")
        published_year = input("Enter Published Year: ")
        category = input("Enter Book Category: ")
        quantity = input("Enter Book Quantity: ")
        total_sales = input("Enter Total Sales: ")
        book_status = input("Enter Book Status: ")
        book_type = input("Enter Book Type: ")
        publisher_id = input("Enter Publisher ID: ")
        customer_id = input("Enter Customer ID: ")
        transaction_id = input("Enter Transaction ID: ")
        authors_id = input("Enter Author ID: ")
        
        query = f"INSERT INTO books (isbn_number, book_title, price, published_year, category, quantity, total_sales, book_status, book_type, publisher_id, customer_id, transaction_id, authors_id) VALUES ('{isbn}', '{book_title}', '{price}', '{published_year}', '{category}', '{quantity}', '{total_sales}', '{book_status}', '{book_type}', '{publisher_id}', '{customer_id}', '{transaction_id}', '{authors_id}')"
        %sql $query
        %sql COMMIT

        print("The cart transaction has been added to the system")
         
       
       
       
option = int(input("Please select option above:"))

%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://postgres:polpol@localhost:5432/booksys
def add():
    
    print('1: Add Book')
    print('2: Add Transaction Order')
    print('3: Add Cart Order')
    
    
    option = int(input("Please select option above:"))
    
    if option == 1:
        add_book()
    elif option == 2:
        add_transaction_order()
    elif option == 3:
        add_cart_order()
    else:
        print("invalid option")
  
add()

In [ ]:
#DISPLAY ALL BOOKS


%sql SELECT * FROM books;

result = %sql SELECT * FROM books;
print(result)